body{
	font-size: 100%;
}

p,span{
	font-size: 22px;
	margin: 8px;
}
th,td{
	font-size: 22px;
}

input{
	font-size: 22px;
}

button{
	font-size: 22px;
}

.left_side{
	width: 49%;
	float: left;
}

.right_side{
	width: 49%;
	float: right;
}

.bulletin_board{
	border: 2px solid;
	height: 270px;
	width: 90%;

}

.chat_scroll{
	border: 1px solid;
	height: 150px;
	width: 80%;
	overflow-y: scroll;
}

.default_text{
	font-size: 12px;
	color: #a9a9a9;
}

.site_name{
	font-size: 24px;
	font-weight: bold;
	border: 1px solid;
	border-color: blue;
	border-radius: 10px;
	display: inline-block;
	box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
}

.site_img{
	width: 100px;
	height: 145px;
}

.saba{
	text-align: right;
	height: 15%;
}

.textbox{
	width: 60%;
}

.code_plaintext{
	border: 1px solid;
	border-color: blue;
}

.flex{
	display: flex;
}

.table_design{
	table-layout: fixed;
	border: 3px solid;
}

.table_design td{
	word-break:break-all
}

.table_impact{
	border: 6px solid;
	border-color: red;
}

.white_back{
	background-color: white;
}

.balloon-left {
  position: relative;
  display: inline-block;
  margin: 5.5em 0 1.5em 20px;
  padding: 7px 20px;
  min-width: 70%;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #FFF;
  border: solid 3px #555;
  box-sizing: border-box;
  z-index: -10;
}

.balloon-left:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -24px;
  margin-top: -12px;
  border: 12px solid transparent;
  border-right: 12px solid #FFF;
  z-index: 2;
}

.balloon-left:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -14px;
  border: 14px solid transparent;
  border-right: 14px solid #555;
  z-index: 1;
}

.balloon-left p {
  margin: 0;
  padding: 0;
}

.font_red{
	color: #f00;
}

#imagine_image{
	width: 100px;
	height: 145px;
}

#black_human{
	width: 280px;
	height: 330px;
}

#normal_human{
	width: 280px;
	height: 280px;
}

#sailab{
	width: 20px;
	height: 20px;
}
